/* This is the global stylesheet which styles the calculator */



/* Font family: Roboto (from Google fonts) */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, 
html{
  font-family: 'Roboto', sans-serif;
}

/* CSS reset */

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/* placing the calculator at the center of the page */

#calculator{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #f4f4f4;
}

/* styling the main calculator area */

.calculator_area{
  background-color: #000;
  color: #fff;
  padding: 30px;
}

/* styling the display screen where the result is displayed */

.display_result{
  border: none;
  background-color: #000;
  width: 290px;
  height: 150px;
  text-align: right;
  font-size: 36px;
  margin-bottom: 30px;
  color: #fff;
}

/* removing the border color of the textbox when we click inside the textbox */

.display_result:focus{
  outline: none;
}

/* creating and styling the blinking cursor */

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 23%;
  background-color: #fff;
  top: 53px;
  right: 0px;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
/* positioning the error sign */

.alert{
  text-align: center;
}
/* styling the error symbol */

.error_sign{
  color:#ff7f50;
  font-size: 26px;
}

/* creating the layout for the grid */

.grid_container{
  display: grid;
  grid-template-areas: 
  'clear clear backspace divide'
  'seven eight nine mult'
  'four five six subt'
  'one two three addition'
  'zeroed zeroed decim equal';
  gap: 10px;
}

/* converting the digits into circular buttons */

.digits, 
.options, 
.operations{
  padding: 20px 25px;
  border-radius: 50%;
  text-align: center;
  background-color: #555;
  cursor: pointer;
}
.digits:hover,
.options:hover,
.operations:hover{
  opacity: 0.7;
} 

/* specific styling for digits, mathematical operations, and options for the user */


/* styling digit buttons from 0 to 9 */

.digits, 
.digits .btn{
  background-color: #28282B;
}

/* styling for operations like +, -, *, / */

.operations, 
.operations .btn{
  background-color: #ffa500;
}

/* styling the options like all clear (AC) and delete last digit */

.options, 
.options .btn{
  background-color: #999;
}

.zero, 
.clear{
  border-radius: 2rem;
}

/* styling the backspace button */

.backspace{
  grid-area: backspace;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  background-color: #999;
  color:#fff;
  cursor: pointer;
}
.backspace:hover{
  opacity: 0.7;
}

/* styling the equals symbol */

.equals{
  background-color: green;
}

/* general styling for all the buttons in the keypad */

.btn{
  border: none;
  font-size: 24px;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
}

/* styling when the buttons are disabled */

button:disabled{
  filter: blur(2px);
  cursor: not-allowed;
}

button:disabled:hover{
  opacity: 1;
}


/* marking the grid areas in the grid template areas */

.clear{
  grid-area: clear;
}
.divide{
  grid-area: divide;
}
.seven{
  grid-area: seven;
}
.eight{
  grid-area: eight;
}
.nine{
  grid-area: nine;
}
.multiply{
  grid-area: mult;
}
.four{
  grid-area: four;
}
.five{
  grid-area: five;
}
.six{
  grid-area: six;
}
.subtract{
  grid-area: subt;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.subtract{
  grid-area: subt;
}
.add{
  grid-area: addition;
}
.zero{
  grid-area: zeroed;
}
.dot{
  grid-area: decim;
}
.equal{
  grid-area: equal;
}



